* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* font-family: 'Titillium Web', sans-serif, 'Helvetica Neue'; */

    /* "Fira Code", system-ui, , BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    /* color: #222733; */
}

body {
    font-family: 'Montserrat', sans-serif, 'Helvetica Neue';
}

.head {
    display: flex;
    width: 100vw;
    background-color: #fff;
    height: 70px;
    position: fixed;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px #c97f43;
    backdrop-filter: blur(45px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1100px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    display: flex;
    align-items: center;
    height: 55px;
}

.section_banner {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../imagem/banner_andrew-neel-cckf4TsHAuw-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    

}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    margin-top: 70px;

}

.c-principal-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(45px);
    margin-top: 40px;
    width: 800px;
    height: 300px;
    border-radius: 40px;
    /* font-family: 'Titillium Web', sans-serif, 'Helvetica Neue'; */
}

.text1,
.text2 {
    margin: 10px;
    /* color: #222733; */
    color: #ffffff;
    text-shadow: 0px 2px 1px #000;

}

.text1 {
    font-size: 50px;
    font-weight: 700;
}

.text2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.menu-bar {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0px;
}

nav ul {
    height: 70px;
    display: flex;
    align-items: center;

}

nav a {
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color: #222733;
    text-align: center;
    font-weight: 600;
    font-size: 15px;

}

nav a:hover {
    border-top: 3px solid #222733;
    transition: 0.155s;
    border-bottom: 3px solid #222733;
    color: #A25939;

}

.budget {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 90px;

}

.budget-head a,
.budget a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    font-family: 'Titillium Web', sans-serif, 'Helvetica Neue';
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    color: #ffffff;
    background-color: #222733;
    margin: 5px;
}

.budget-head a:hover,
.budget a:hover {
    background-color: #11cf31;
}

/* ######## New Section ######## */
.default {
    width: 100vw;
    height: 100vh;
    padding-bottom: 40px;
}

.default .sec-title,
.default .sec-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .sec-title {
    font-size: 20px;

}

.default .sec-desc {
    font-size: 12px;
    color: #969696;
    margin-top: 10px;
    margin-bottom: 40px;

}

.default .sec-body {
    margin: auto;
    max-width: 1100px;

}

.default.light {
    background-color: #f7f7f7;
}

.sec-title {
    margin-top: 10px;
}

.default.light .sec-title,
.default.light .sec-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .sec-title,
.default.dark .sec-body {
    color: #fff;
}

.page-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* border-bottom: 5px solid #A25939; */
    background-color: #222733;

}


.adpt {
    width: 100vw;
    height: 70px;
    /* margin-top: 0; */
    /* margin: 0px 0px; */
    background-color: blueviolet;

}

.section-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    /* background-color: #EAE4DD; */
    height: 100vh;

}



.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #222733; */
    flex: 1;
    font-size: 15px;
    font-weight: 400px;
    width: 1100px;
    margin-bottom: 20px;
    padding: 0px 40px;
    text-align: center;
    /* color: #EAE4DD */
}

.mission-vision {
    display: flex;
    justify-content: center;
    flex: 1.5;
    margin-bottom: 5px;
    width: 1100px;
    margin-top:25px;
    /* color: #222733 */

}

.mission,
.vision {
    padding: 20px 10px;
    width: 48%;
    text-align: center;

}

.division {
    background-color: #000000;
    width: 1px;
}

.mission-vision h3,
.values-title {
    font-size: 22px;
}

.mission-vision h3,
.mission-vision p,
.values-itens h4,
.values-itens h5 {
    margin: 8px;
}

.values {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    color: #000000;
    margin-top:25px;
}

.values-title {
    display: flex;
    align-items: center;
    height: 40px;

}

.values-itens {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 1100px;
    margin-bottom: 5px;

}

.value1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin: 5px;
    
    border-radius: 20px;
    /* height: 100%; */

}

.value1 h4 {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.value1 h5 {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    color: #b6b6b6;
}

.about-us1 {
    width: 1100px;
    height: 70px;
    margin: 0px 0px;
    background-color: #A25939;

}

.mm-line {
    display: none;
    height: 40px;
    width: 40px;
    background-color: #A25939;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 15px;
}

.mm-line {
    height: 4px;
    background-color: #222733;
}

@media (max-width:480px) {
    .head {
        position: fixed;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
        background-color: #fff;
        height: auto;
        margin-top: 5px;
        text-transform: uppercase;
    }

    .head {
        height: auto;
    }

    .budget-head {

        display: none;
    }

    .mm-line {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

.sec-body-services{
    display: flex;
}

.sec-body-service{
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.sec-body-service:first-child{
    border-left: 1px solid #333 ;
}

.sec-body-service h4{
    margin-top:20px;
    text-transform: uppercase;
    font-size: 18px;
}

.sec-body-service p{
    margin-top:10px;
    font-size: 14px;
    color: #999;
}

.button{
    display: inline-block;
    background-color: #b28756;
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 30px;
    /* margin-top: 30px; */
    border-radius: 20px;
}


.sec-body-projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec-body-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
   
}

.sec-body-projects--filters ul,
.sec-body-projects--filters li{
    list-style: none;
}

.sec-body-projects--filters li{
    display: inline-block;
    padding:10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color:#555;
    border-bottom: 3px solid #eee;
}

.sec-body-projects--filters li:first-child{
    border-left: 0;
}

.sec-body-projects--filters li:hover{
    border-bottom: 3px solid #b28756;
    cursor: pointer;
}

.sec-body-projects--capas{
    width: 100vw;
    max-width: 1100px;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec-body-projects--capa{
    width: 250px;
}

.sec-body-projects--capa-area{
    margin: 10px;
    width: 230px;
    height: 140px;
}

.sec-body-projects--capa-area img{
    width: inherit;
    height: inherit;
}

.sec-body-projects--capa-area-legenda{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    padding: 0px 5px;
}

.sec-body-projects--capa-area-legenda h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sec-body-projects--capa-area:hover 
.sec-body-projects--capa-area-legenda{
    display: flex;
    cursor: pointer;
}



.rodape {
    display: flex;
    justify-content: center;
    background-color: #222733;
    color: #EAE4DD;

}

.rod-conteudo {
    background-color: #222733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
    align-items: center;

}

.rod-principal {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    height: 350px;
    border-bottom: 2px solid #EAE4DD;
}

.content {
    flex: 1;
    margin-right: 10px;
    padding: 10px;

    margin-left: 10px;


}

.content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;


}

.content h3,
.content1 h3 {
    font-size: 22px;
    font-weight: 600;
    /* padding: 0px 0px; */

}

.content h4,
.content1 h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0px;
    line-height: 20px;
}

.contato_fone,
.contato_mail,
.redes-sociais {
    text-align: center;
    margin-bottom: 25px;
}

.redes-sociais ul,
.redes-sociais li {
    list-style: none;
    margin: 0;
    padding: 0px;
}

ul {
    display: flex;
    align-items: center;

}

.redes-sociais a {
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color: #222733;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.content1 .under:hover {
    /* text-decoration: underline; */
    font-weight: 800;
    border-bottom: 3px solid #A25939;
    /* color:#A25939; */

}

.copyright {
    width: 1100px;
    color: #EAE4DD;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
    background-color: #222733;
    height: 50px;

}